@import "../mixins/flex/flex.scss";
@import "../mixins/elements/dtButton.scss";

.counter-section {
  @include flex(row, center, center);
  padding-top: $space-b-section;

  button {
    @include dtButton(#212024, #fff);
    padding: 0.3rem 0.7rem;
    border-radius: $rounded;
    transition-duration: $smooth;
  }
}
