@import "../mixins/grid/grid-rows.scss";

.logo-section {
  @include grid-rows(3);
  justify-items: center;
  padding-top: $space-b-section;

  .vite-link,
  .scss-link,
  .typescript-link {
    .vite,
    .scss,
    .typescript {
      img {
        transition-duration: $duration;

        &:hover {
          transform: translateY(-0.1rem);
        }
      }
    }
  }
}
